<!DOCTYPE html>
<title>cert2grade</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% block specific_stylesheets %}{% endblock %}
{% block specific_scripts %}{% endblock %}
<nav>
    <h1><a href="{{ url_for('dashboard.index') }}">cert2grade</a></h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['email'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}{% endblock %}