{% extends "base.html" %}

{% block specific_stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone_basic.css') }}">
<style>
    .header_with_btn {
        position: relative;
    }
    .header_with_btn button {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    .req_entry_row {
        position: relative;
    }
    .req_entry_row_selected {
        background-color: #D0DBF8;
    }
    .file_entry_selected {
        background-color: #D0DBF8;
    }
    .req_entry_row>input {
        position: absolute;
        left: -30px;
        cursor: pointer;
    }
    .req_entry_row:hover {
        background-color: #D0DBF8;
        cursor: pointer;
    }
    .req_code {
        display: inline-block;
        width: 20%;
    }
    .req_timestamp {
        display: inline-block;
        width: 25%;
    }
    .req_size {
        display: inline-block;
        width: 20%;
    }
    .req_duration {
        display: inline-block;
        width: 20%;
    }
    .dropzone {
        background-color: cyan;
        padding: 50px;
        text-align: center;
    }
    .dz-preview {
        border: 1px solid blue;
    }
    .dz-preview:hover {
        background-color: #D0DBF8;
    }
</style>
{% endblock %}

{% block specific_scripts %}
<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<script src="{{ url_for('static', filename='js/pdf.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script>
    const SCRIPT_ROOT = {{ request.script_root|tojson }};
    pdfjsLib.GlobalWorkerOptions.workerSrc = "{{ url_for('static', filename='js/pdf.worker.min.js') }}";
    Dropzone.autoDiscover = false;
    Dropzone.prototype.filesize = CONVERT_SIZE;
</script>
<script src="{{ url_for('static', filename='js/thumbnail.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectreq.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectfile.js') }}"></script>
<script src="{{ url_for('static', filename='js/index/file.js') }}"></script>    
{% endblock %}

{% block content %}
    <div id="upload_ui" class="hidden">
        <span id="req_code" class="req_code_display">#xxxxxx</span>
        <div class="header_with_btn">
            <h1 id="overall_upload_status">uploading...</h1>
            <button id="abort_upload" class="hidden">abort</button>
            <button id="start_churn" class="hidden">churn</button>
            <button id="delete_file_btn" class="hidden">delete</button>
        </div>
        <div id="preview_template" class="hidden">
            <div class="dz-preview dz-file-preview">
                <div class="dz-filename">
                    <span data-dz-name></span>
                </div>
                <input type="checkbox" unchecked>
                <img data-dz-thumbnail />
                <div class="dz-progress">
                    <span class="dz-upload" data-dz-uploadprogress></span>
                    <div id="progress_text">
                        <span class="uploaded_size">0.00 B</span>
                        /
                        <span class="dz-size" data-dz-size></span>
                    </div>
                </div>
                <div class="dz-error-message">
                    <span data-dz-errormessage></span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="index_dropzone" class="dropzone">
        <div id='dropzone_prompt' class="dz-message">
            drag & drop PDFs / folder of PDFs to begin
        </div>
    </div>
    <br>
    <div id="index_ui">
        <div class="header_with_btn">
            <h1>request history</h1>
            <button id="delete_req_btn" class="hidden"></button>
        </div>
        <div id="req_history" class="req_history">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <div class="req_entry_wrapper_title">
                <div class="req_code">code</div>
                <div class="req_timestamp">timestamp</div>
                <div class="req_size">size</div>
                <div class="req_duration">duration</div>
            </div>
            {% for req in req_history %}
                <div class="req_entry_row">
                    <input type="checkbox" onclick="reqCheckboxClick.call(this)" unchecked>
                    <div class="req_entry_wrapper" onclick="reqClick.call(this, false)" rowindex="{{ loop.index0 }}">
                        <div class="req_code">{{ req["code"] }}</div>
                        <div class="req_timestamp">{{ req["timestamp"] }}</div>
                        <div class="req_size">{{ req["size_str"] }}</div>
                        <div class="req_duration">{{ req["duration"] }}</div>
                    </div>
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
   
{% endblock %}