{% extends "base.html" %}

{% block content %}
    <h1>upload pdf here</h1>
    {% for request in request_history %}
        <div>
            <input type="checkbox">
            <div class="request_code">{{ request["code"] }}</div>
            <div class="request_timestamp">{{ request["timestamp"] }}</div>
            <div class="request_size">{{ request["files"] }} files ({{ request["size"] }})</div>
            <div class="request_duration">{{ request["duration"] }}s</div>
        </div>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}